.invoicing-container{
    display: flex;
    flex-direction: column;
}

.invoicing-item{
    border: 1px solid;
    display: flex;
    width: 300px;
    padding: 10px;
    justify-content: space-around;
}

.invoicing-block-item{
    display: flex;
}

.invoicing h1 {
    text-align: center;
}