.invoicing-container{
    display: flex;
    flex-direction: column;
}

.invoicing-item{
    border: 1px solid;
    display: flex;
    width: 200px;
    padding: 10px;
    justify-content: space-around;
}

.invoicing-block-item{
    display: flex;
}

.invoicing h1 {
    text-align: center;
}

.invoicing-items{
    margin: 10px;
}

.invoicing-discount{
    padding: 20px;
    margin-left: 450px;
}

.invoicing-discount input{
    padding: 10px;
    margin: 20px;
    width: 50px;
}

.invoices-details-header{
    display: flex;
    font-weight: 600;
}

.invoices-details-name{
    padding: 20px;
    margin-left: 70px;
}

.invoices-details-address{
    padding: 20px;
    margin-left: 130px;
}

.invoices-details-quantity{
    padding: 20px;
    margin-left: 140px;
}

.invoices-details-total{
    padding: 20px;
    margin-left: 140px;
}