.backdropStyle {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
    background-color: rgba(0,0,0,0.3);
}

.modalStyle {
    border-right: 5px;
    background-color: #ffffff;
    max-width: 500px;
    min-height: 300px;
    margin: 0 auto;
    padding: 30px;
}

.modal-container-header{
    display: flex;
}

.modal-container-form {
    margin: 100px;
}

.modal-container-item-name{
    margin: 5px 0;
}

.modal-container-item-address{
    margin: 5px 72px;
}

.modal-container-item-phone{
    margin: 5px -13px;
}

.modal-container-input {
    display: flex;
    width: 100px;
    margin: 5px 10px 15px 0px;
}

.modal-container-btn{
    margin-left: 15px;
}
