.customers ul {
    list-style-type: none;
    flex-direction: column;
}

.customers-items {
    display: flex;
}

.customers-item {
    margin: 20px;
}

.customers-name{
    width: 120px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.customers-address{
    width: 300px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.customers-phone{
    width: 130px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.customers-btn{
    width: 130px;
    padding: 20px;
}

.customers-button{
    margin: 5px;
    padding: 5px 8px;
}

.customers h1{
    text-align: center;
}