.invoicing-container{
    display: flex;
    flex-direction: column;
}

.invoicing-item{
    border: 1px solid;
    width: 150px;
    display: flex;
    justify-content: space-around;
}

.invoicing-block-item{
    display: flex;
}